h1 {
  font-family: "Jazz LET", fantasy;
  color: white;
  margin-left: 35%;
  margin-right: 35%;
  vertical-align: middle;
  background-color: #2e3e5e;
  padding: 0em 0.3em 0em 0.3em;
  min-width: 10em;
}

body{
  background-image: url(images/body_bg.jpg);
}

body, input, button {
  font-family: Ubuntu, sans-serif;

}

header {
  text-align: center;
}

.messages {
  background-image: url(images/bg3.jpg);
  border-radius: 5px;
  padding: 1em 1em 150px;
  min-height: 40em;
  margin-bottom: 2em;
  overflow: auto;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/ 
}

.message {
  color: white;
  padding: 0.3em;

}

.date, .Auteur {
  font-weight: bold;
}

form {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

input, button {
  padding: 0.5em;
  border-radius: 3px;
  margin-bottom: 2px;
}

input {
  margin-right: 5px;
}

#Contenu {
  width: 70%;
}



#Auteur {
  width: 12%;
  
}


button[type="submit"]{
  width: 15%;
}

#wrapper{position: relative;}

.user-inputs{
  position: fixed;
  bottom: 0;
  width: 99%;
}

#log{
  background-image: url(images/bg3.jpg);
  position: relative;
  font-family: "Andale Mono", monospace;
  color: white;
  vertical-align: middle;
  padding-left: 3%;
  margin-left: 40%;
  margin-right: 40%;
  min-width: 15em;
  border-radius: 0.5em;
}

